
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="logo" class="col-xs-12 center">
    <img class="center-block" style="height:50vh;" src="~/Assets/images/3klogo.png" />
</div>

@section styles{
    <style>
        .center {
            margin: 6vw auto;
        }
    </style>
}