
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WPS35L3');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110389278-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110389278-1');
    </script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto%3A400%2C700%7CAlegreya%3A400%2C700&subset=latin" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/style-alt1.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
    <title>3K HUKUK BÜROSU &#8211;ANKARA-ÇANKAYA HUKUK ve DANIŞMANLIK</title>
    <link rel="shortcut icon" href="assets/images/fav.png">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPS35L3"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="boxed-container">
        <header>
            <div class="top">
                <div class="container">
                    <div class="top__tagline">
                        3K HUKUK ve DANIŞMANLIK BÜROSU
                    </div>
                    <div class="top__widgets">

                        <div class="widget  widget-icon-box">
                            <div class="icon-box">
                                <i class=""></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">Bizimle Birlikte Güvendesiniz...</h4>
                                    <span class="icon-box__subtitle"></span>
                                </div>
                            </div>
                        </div>

                        <div class="widget  widget-icon-box">

                            <div class="icon-box">
                                <i class="fa  fa-clock-o  fa-3x"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">Pazartesi - Cumartesi : 07:00 - 22:00 </h4>
                                    <span class="icon-box__subtitle"></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget  widget-icon-box">
                            <div class="icon-box">
                                <i class="fa  fa-envelope-o  fa-3x"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">info@3khukuk.com </h4>
                                    <span class="icon-box__subtitle"></span>
                                </div>
                            </div>
                        </div>

                        <div class="widget  widget-social-icons">
                            <a class="social-icons__link" href="https://www.facebook.com/" target="_blank"><i class="fa  fa-facebook-square"></i></a>

                            <a class="social-icons__link" href="https://www.youtube.com/" target="_blank"><i class="fa  fa-youtube-square"></i></a>
                            <a class="social-icons__link" href="https://twitter.com/" target="_blank"><i class="fa  fa-twitter-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="header">
                    <div class="header__left-widgets">
                        <div class="widget  widget-icon-box">
                            <div class="icon-box">
                                <i class="fa  fa-phone-square  fa-3x"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title"><a href="tel:+903124676731">+90(312)4676731</a></h4>
                                    <span class="icon-box__subtitle"> Büro Telefon</span>
                                </div>
                            </div>
                        </div>
                        <div class="widget  widget-icon-box">
                            <div class="icon-box">
                                <i class="fa  fa-phone-square  fa-3x"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title"><a href="tel:+903124676732">+90(312)4676732</a></h4>
                                    <span class="icon-box__subtitle"> Büro Fax</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__logo">
                        <a href="/">
                            <img src="assets/images/logo.png" alt="3K HUKUK VE DANIŞMANLIK - ANKARA ÇANKAYA ÇUKURAMBAR" srcset="assets/images/logo.png, assets/images/logo@2x.png 2x" width="270" height="105" />
                        </a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#legalpress-navbar-collapse">
                            <span class="navbar-toggle__text">MENU</span>
                            <span class="navbar-toggle__icon-bar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                        </button>
                    </div>
                    <div class="header__right-widgets">
                        <div class="widget  widget_text">
                            <div class="textwidget"><a class="btn    btn-primary" href="#" target="_self">GİRİŞ / ENTRY</a></div>
                        </div>
                    </div>
                    <div class="header__navigation">
                        <nav class="collapse  navbar-collapse" aria-label="Main Menu" id="legalpress-navbar-collapse">
                            <ul id="menu-main-menu" class="main-navigation  js-main-nav" role="menubar">


                                <li class="menu-item"><a href="/">Anasayfa</a></li>


                                <li class="menu-item menu-item-has-children" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                    <a href="/hizmetlerimiz">Çalışma Alanlarımız</a>
                                    <ul class="sub-menu" role="menu">

                                        <li><a href="/cezahukuku">Ceza Hukuku</a></li>
                                        <li><a href="/icraveiflashukuku">İcra ve İflas Hukuku</a></li>
                                        <li><a href="/ticarethukuku">Ticaret Hukuku</a></li>
                                        <li><a href="/idarehukuku">İdare Hukuku</a></li>
                                        <li><a href="/issgkhukuku">İş-SGK Hukuku</a></li>
                                        <li><a href="/bosanmahukuku">Boşanma Hukuku</a></li>
                                        <li><a href="/mirashukuku">Miras Hukuku</a></li>
                                        <li><a href="/sozlesmehukuku">Sözleşme Hukuku</a></li>
                                        <li><a href="/madenhukuku">Maden Hukuku</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="/hakkimizda">Hakkımızda</a></li>
                                <li class="menu-item"><a href="/makalelerimiz">Makalelerimiz</a></li>
                                <li class="menu-item"><a href="/iletisim">İletişim</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-title">
            <div class="container">
                <h1 class="main-title__primary">Çalışma Alanlarımız</h1>

            </div>
        </div>
        <div class="breadcrumbs">
            <div class="container">
                <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to LegalPress." href="/" class="home">3K HUKUK VE DANIŞMANLIK</a></span><span typeof="v:Breadcrumb"><span property="v:title">Çalışma Alanlarımız</span></span>
            </div>
        </div>
        <div id="primary" class="content-area  container">
            <div class="row">
                <main id="main" class="site-main  col-xs-12  col-md-9  col-md-push-3">
                    <article class="clearfix hentry">
                        <div class="entry-content">
                            <div id="pl-91">
                                <div class="panel-grid" id="pg-91-0">
                                    <div class="panel-grid-cell" id="pgc-91-0-0">
                                        <div class="so-panel panel-first-child panel-last-child" id="panel-91-0-0-0">
                                            <div class="page-box  page-box--block">
                                                <a class="page-box__picture" href="/bosanmahukuku"><img src="assets/images/33-360x240.jpg" width="360" height="240" srcset="assets/images/33-360x240.jpg 360w, assets/images/33.jpg 848w" sizes="(min-width: 992px) 360px, calc(100vw - 30px)" class="wp-post-image" alt="Boşanma Hukuku çankaya çukurambar ANKARA"></a>
                                                <div class="page-box__content">
                                                    <h5 class="page-box__title"><a href="/bosanmahukuku">Boşanma Hukuku</a></h5>
                                                    <p>Aile kanunları, aile birliği veya ortaklık, evlilik, boşanma ve diğer aile meseleleri gibi diğer ilişkilerle ilgili tüm konularda hukuk dalıyla ilgilenir.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-grid-cell" id="pgc-91-0-1">
                                        <div class="so-panel panel-first-child panel-last-child" id="panel-91-0-1-0">
                                            <div class="page-box  page-box--block">
                                                <a class="page-box__picture" href="/icraveiflashukuku"><img src="assets/images/28-360x240.jpg" width="360" height="240" srcset="assets/images/28-360x240.jpg 360w, assets/images/28.jpg 848w" sizes="(min-width: 992px) 360px, calc(100vw - 30px)" class="wp-post-image" alt="Bankruptcy Law"></a>
                                                <div class="page-box__content">
                                                    <h5 class="page-box__title"><a href="/icraveiflashukuku">İcra ve İflas Hukuku</a></h5>
                                                    <p>
                                                        İflas kanunu, iflas eden kişiler veya işletmelerle ilgili durumları ele alan federal yasanın alanıdır. Yasaya göre, bir kişi, aidatlarını hiçbir şekilde ödeyemezse iflas edebilir. İflasın farklı bölümleri var
                                                        &hellip;
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-grid-cell" id="pgc-91-0-2">
                                        <div class="so-panel panel-first-child panel-last-child" id="panel-91-0-2-0">
                                            <div class="page-box  page-box--block">
                                                <a class="page-box__picture" href="/cezahukuku"><img src="assets/images/177-360x240.jpg" width="360" height="240" srcset="assets/images/177-360x240.jpg 360w, assets/images/177.jpg 848w" sizes="(min-width: 992px) 360px, calc(100vw - 30px)" class="wp-post-image" alt="Corporate Law"></a>
                                                <div class="page-box__content">
                                                    <h5 class="page-box__title"><a href="/cezahukuku">Ceza Hukuku</a></h5>
                                                    <p>
                                                        ...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-grid" id="pg-91-1">
                                    <div class="panel-grid-cell" id="pgc-91-1-0">
                                        <div class="so-panel panel-first-child panel-last-child" id="panel-91-1-0-0">
                                            <div class="page-box  page-box--block">
                                                <a class="page-box__picture" href="/idarehukuku"><img src="assets/images/22-360x240.jpg" width="360" height="240" srcset="assets/images/22-360x240.jpg 360w, assets/images/22.jpg 848w" sizes="(min-width: 992px) 360px, calc(100vw - 30px)" class="wp-post-image" alt="Personal Injury Law"></a>
                                                <div class="page-box__content">
                                                    <h5 class="page-box__title"><a href="/idarehukuku">İdare Hukuku</a></h5>
                                                    <p>
                                                        ...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-grid-cell" id="pgc-91-1-1">
                                        <div class="so-panel panel-first-child panel-last-child" id="panel-91-1-1-0">
                                            <div class="page-box  page-box--block">
                                                <a class="page-box__picture" href="/issgkhukuku"><img src="assets/images/49-360x240.jpg" width="360" height="240" srcset="assets/images/49-360x240.jpg 360w, assets/images/49.jpg 848w" sizes="(min-width: 992px) 360px, calc(100vw - 30px)" class="wp-post-image" alt="Civil Rights Law"></a>
                                                <div class="page-box__content">
                                                    <h5 class="page-box__title"><a href="/issgkhukuku">İŞ-SGK Hukuku</a></h5>
                                                    <p>
                                                        ...
                                                        &hellip;
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-grid-cell" id="pgc-91-1-2">
                                        <div class="so-panel panel-first-child panel-last-child" id="panel-91-1-2-0">
                                            <div class="page-box  page-box--block">
                                                <a class="page-box__picture" href="/madenhukuku"><img src="assets/images/8-360x240.jpg" width="360" height="240" srcset="assets/images/8-360x240.jpg 360w, assets/images/8.jpg 848w" sizes="(min-width: 992px) 360px, calc(100vw - 30px)" class="wp-post-image" alt="Criminal Law"></a>
                                                <div class="page-box__content">
                                                    <h5 class="page-box__title"><a href="/madenhukuku">Maden Hukuku</a></h5>
                                                    <p>
                                                        ...
                                                        &hellip;
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </main>
                <div class="col-xs-12  col-md-3  col-md-pull-9">
                    <div class="sidebar" role="complementary">
                        <div class="widget  widget_nav_menu">
                            <div class="menu-services-menu-container">
                                <ul id="menu-services-menu" class="menu">
                                    <li class="current-menu-item"><a href="/hizmetlerimiz">Hizmetlerimiz</a></li>
                                    <li><a href="/cezahukuku">Ceza Hukuku</a></li>
                                    <li><a href="/icraveiflashukuku">İcra ve İflas Hukuku</a></li>
                                    <li><a href="/ticarethukuku">Ticaret Hukuku</a></li>
                                    <li><a href="/idarehukuku">İdare Hukuku</a></li>
                                    <li><a href="/issgkhukuku">İş-SGK Hukuku</a></li>
                                    <li><a href="/bosanmahukuku">Boşanma Hukuku</a></li>
                                    <li><a href="/mirashukuku">Miras Hukuku</a></li>
                                    <li><a href="/sozlesmehukuku">Sözleşme Hukuku</a></li>
                                    <li><a href="/madenhukuku">Maden Hukuku</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12  col-md-4">
                            <div class="widget">
                                <div class="textwidget">
                                    <p><img class="alignnone size-full" src="" alt="" width="224" height="60" /></p>
                                    <p>Sosyal Medaya Hesaplarımız </p>
                                    <p>
                                        <a class="icon-container" href="https://www.facebook.com" target="_blank"><span class="fa fa-facebook-square"></span></a>
                                        <a class="icon-container" href="https://twitter.com/" target="_blank"><span class="fa fa-twitter-square"></span></a>
                                        <a class="icon-container" href="#" target="_blank"><span class="fa fa-linkedin-square"></span></a> <a class="icon-container" href="https://www.youtube.com/" target="_blank"><span class="fa fa-youtube-square"></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-md-2">
                            <div class="widget  widget_nav_menu">
                                <h6 class="footer-top__headings">Yararlı Linkler</h6>
                                <div class="menu-footer-menu-container">
                                    <ul class="menu">
                                        <li><a href="https://www.tbmm.gov.tr">TBMM</a></li>
                                        <li><a href="http://www.anayasa.gov.tr">ANAYASA MAHKEMESİ</a></li>
                                        <li><a href="https://www.yargitay.gov.tr">YARGITAY</a></li>
                                        <li><a href="http://www.barobirlik.org.tr">BAROLAR BİRLİĞİ</a></li>
                                        <li><a href="http://www.sgk.gov.tr">SGK</a></li>
                                        <li><a href="http://www.mevzuat.gov.tr">MEVZUAT</a></li>
                                        <li><a href="http://www.resmigazete.gov.tr/">RESMİ GAZETE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-md-2">
                            <div class="widget  widget_nav_menu">
                                <h6 class="footer-top__headings">Hızlı Dolaşım</h6>
                                <div class="menu-services-menu-container">
                                    <ul class="menu">
                                        <li><a href="/cezahukuku">Ceza Hukuku</a></li>
                                        <li><a href="/icraveiflashukuku">İcra ve İflas Hukuku</a></li>
                                        <li><a href="/ticarethukuku">Ticaret Hukuku</a></li>
                                        <li><a href="/idarehukuku">İdare Hukuku</a></li>
                                        <li><a href="/issgkhukuku">İş-SGK Hukuku</a></li>
                                        <li><a href="/bosanmahukuku">Boşanma Hukuku</a></li>
                                        <li><a href="/mirashukuku">Miras Hukuku</a></li>
                                        <li><a href="/sozlesmehukuku">Sözleşme Hukuku</a></li>
                                        <li><a href="/madenhukuku">Maden Hukuku</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-md-4">
                            <div class="widget">
                                <h6 class="footer-top__headings">Hukuksal Alanda Danışma</h6>
                                <div class="textwidget">
                                    <p>Sizin dilinizden anlıyor, problem yerine sonuç üretiyor, üstün yeterlilikte ve üretken kadromuz ile sizlere pratik ve en etkili şekilde hizmet vermek için çalışıyoruz.</p>
                                    <p><a class="btn    btn-primary" href="/iletisim">BİZİMLE İLETİŞİME GEÇİN</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="footer-bottom__left">
                                Copyright © 2017 by <a href="#">Emre CANSIZ</a>.
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="footer-bottom__center">
                                <i class="fa  fa-3x  fa-cc-visa"></i>
                                <i class="fa  fa-3x  fa-cc-mastercard"></i>
                                <i class="fa  fa-3x  fa-cc-amex"></i>
                                <i class="fa  fa-3x  fa-cc-paypal"></i>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="footer-bottom__right">
                                Tüm hakları saklıdır.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script type='text/javascript' src='assets/js/modernizr.custom.24530.js'></script>
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type='text/javascript' src='assets/js/validator.js'></script>
    <script type='text/javascript' src='assets/js/underscore.js'></script>
    <script type='text/javascript' src='assets/js/magnific-popup.min.js'></script>
    <script type='text/javascript' src='assets/js/main.js'></script>
</body>
</html>