
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WPS35L3');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110389278-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110389278-1');
    </script>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto%3A400%2C700%7CAlegreya%3A400%2C700&subset=latin" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/style-alt1.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
    <title>3K HUKUK BÜROSU &#8211;ANKARA-ÇANKAYA HUKUK ve DANIŞMANLIK</title>
    <link rel="shortcut icon" href="assets/images/fav.png">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPS35L3"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="boxed-container">
        <header>
            <div class="top">
                <div class="container">
                    <div class="top__tagline">
                        3K HUKUK ve DANIŞMANLIK BÜROSU
                    </div>
                    <div class="top__widgets">
                        <div class="widget  widget-icon-box">
                            <div class="icon-box">
                                <i class=""></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">Bizimle Birlikte Güvendesiniz...</h4>
                                    <span class="icon-box__subtitle"></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget  widget-icon-box">
                            <div class="icon-box">
                                <i class="fa  fa-clock-o  fa-3x"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">Pazartesi - Cumartesi : 07:00 - 22:00 </h4>
                                    <span class="icon-box__subtitle"></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget  widget-icon-box">
                            <div class="icon-box">
                                <i class="fa  fa-envelope-o  fa-3x"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">info@3khukuk.com </h4>
                                    <span class="icon-box__subtitle"></span>
                                </div>
                            </div>
                        </div>

                        <div class="widget  widget-social-icons">
                            <a class="social-icons__link" href="https://www.facebook.com/" target="_blank"><i class="fa  fa-facebook-square"></i></a>

                            <a class="social-icons__link" href="https://www.youtube.com/" target="_blank"><i class="fa  fa-youtube-square"></i></a>
                            <a class="social-icons__link" href="https://twitter.com/" target="_blank"><i class="fa  fa-twitter-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="header">
                    <div class="header__left-widgets">
                        <div class="widget  widget-icon-box">
                            <div class="icon-box">
                                <i class="fa  fa-phone-square  fa-3x"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title"><a href="tel:+903124676731">+90(312)4676731</a></h4>
                                    <span class="icon-box__subtitle"> Büro Telefon</span>
                                </div>
                            </div>
                        </div>
                        <div class="widget  widget-icon-box">
                            <div class="icon-box">
                                <i class="fa  fa-phone-square  fa-3x"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title"><a href="tel:+903124676732">+90(312)4676732</a></h4>
                                    <span class="icon-box__subtitle"> Büro Fax</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__logo">
                        <a href="/">
                            <img src="assets/images/logo.png" alt="3K HUKUK VE DANIŞMANLIK - ANKARA ÇANKAYA ÇUKURAMBAR" srcset="assets/images/logo.png, assets/images/logo@2x.png 2x" width="270" height="105" />
                        </a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#legalpress-navbar-collapse">
                            <span class="navbar-toggle__text">MENU</span>
                            <span class="navbar-toggle__icon-bar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                        </button>
                    </div>
                    <div class="header__right-widgets">
                        <div class="widget  widget_text">
                            <div class="textwidget"><a class="btn    btn-primary" href="/Portal/Login" target="_self">GİRİŞ / ENTRY</a></div>
                        </div>
                    </div>
                    <div class="header__navigation">
                        <nav class="collapse  navbar-collapse" aria-label="Main Menu" id="legalpress-navbar-collapse">
                            <ul id="menu-main-menu" class="main-navigation  js-main-nav" role="menubar">


                                <li class="menu-item"><a href="/">Anasayfa</a></li>


                                <li class="menu-item menu-item-has-children" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                    <a href="/hizmetlerimiz">Çalışma Alanlarımız</a>
                                    <ul class="sub-menu" role="menu">

                                        <li><a href="/cezahukuku">Ceza Hukuku</a></li>
                                        <li><a href="/icraveiflashukuku">İcra ve İflas Hukuku</a></li>
                                        <li><a href="/ticarethukuku">Ticaret Hukuku</a></li>
                                        <li><a href="/idarehukuku">İdare Hukuku</a></li>
                                        <li><a href="/issgkhukuku">İş-SGK Hukuku</a></li>
                                        <li><a href="/bosanmahukuku">Boşanma Hukuku</a></li>
                                        <li><a href="/mirashukuku">Miras Hukuku</a></li>
                                        <li><a href="/sozlesmehukuku">Sözleşme Hukuku</a></li>
                                        <li><a href="/madenhukuku">Maden Hukuku</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="/hakkimizda">Hakkımızda</a></li>
                                <li class="menu-item"><a href="/makalelerimiz">Makalelerimiz</a></li>
                                <li class="menu-item"><a href="/iletisim">İletişim</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="jumbotron  jumbotron--with-captions">
            <div>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="assets/images/5-1920x600.jpg" srcset="assets/images/5-1920x600.jpg 1920w, assets/images/5-1920x600.jpg 960w, assets/images/5-1920x600.jpg 480w" sizes="100vw" alt="3K HUKUK BÜROSU ÇANKAYA ÇUKURAMBAR ANKARA">
                        <div class="container">
                            <div class="jumbotron-content">
                                <div class="jumbotron-content__headline">
                                </div>
                                <div class="jumbotron-content__title">
                                    <h1>BİZİMLE BİRLİKTE GÜVENDESİNİZ</h1>
                                </div>
                                <div class="jumbotron-content__description">
                                    <p>

                                        <br /><br />  <br /><br />  <br />
                                    </p>
                                    <p><a class="btn    btn-primary" href="/iletisim" target="_self">İLETİŞİME GEÇİN</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" role="main">
            <div class="entry-content">
                <div id="pl-5">

                    <div class="panel-grid" id="pg-5-2">
                        <div class="siteorigin-panels-stretch panel-row-style bg1" data-stretch-type="full">
                            <div class="panel-grid-cell" id="pgc-5-2-0">
                                <div class="so-panel panel-first-child panel-last-child" id="panel-5-2-0-0">
                                    <div class="call-to-action">
                                        <div class="call-to-action__text">
                                            <div class="call-to-action__title">
                                                Hukuk firmamız ile ilgileniyor musunuz?
                                            </div>
                                            <div class="call-to-action__subtitle">
                                                Hemen bizimle iletişime geçin!
                                            </div>
                                        </div>
                                        <div class="call-to-action__button">
                                            <a class="btn    btn-primary" href="#" target="_self">İletişime Geç</a> <a class="btn    btn-default" href="#" target="_self">Daha fazla</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-grid" id="pg-5-4">
                        <div class="siteorigin-panels-stretch panel-row-style bg2" data-stretch-type="full">
                            <div class="panel-grid-cell" id="pgc-5-4-0">&nbsp;</div>
                            <div class="panel-grid-cell" id="pgc-5-4-1">
                                <div class="so-panel panel-first-child panel-last-child" id="panel-5-4-1-0">
                                    <div class="textwidget">
                                        <h3 class="style3">Yolumuz</h3>
                                        <p class="style2"><span class="style1"><strong>Kurucumuzun Sözleri</strong></span></p>
                                        <hr class="hr-quote" />
                                        <p class="style4">Hukuk konusunda tutkuluyuz ve müşterilerimiz için başarılı sonuçlar veriyoruz. Tüm müşterilerimize verdiğimiz söz, en iyi yasal tavsiyeyi sunmak ve beklentilerinizi tutarlı bir şekilde aşmaktır. </p>
                                        <p class="style2"><img class="size-full aligncenter" src="" alt="" width="232" height="58" /></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-grid-cell" id="pgc-5-4-2">&nbsp;</div>
                        </div>
                    </div>
                    <div class="panel-grid" id="pg-5-5">
                        <div class="panel-grid-cell" id="pgc-5-5-0">
                            <div class="so-panel panel-first-child panel-last-child" id="panel-5-5-0-0">
                                <div class="widget-title--big panel-widget-style">
                                    <h3 class="widget-title"><span class="widget-title__inline">Makalelerimiz</span></h3>
                                    <div class="textwidget"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-grid" id="pg-5-6">
                        <div class="panel-grid-cell" id="pgc-5-6-0">
                            <div class="so-panel panel-first-child panel-last-child" id="panel-5-6-0-0">
                                <div class="latest-news  latest-news--block">
                                    <div class="latest-news__date">
                                        11.10.2017
                                    </div>
                                    <a href="/post" class="latest-news__image">
                                        <img src="assets/images/45-360x204.jpg" width="360" height="204" srcset="assets/images/45-360x204.jpg 360w, assets/images/45.jpg 848w" sizes="(min-width: 781px) 360px, calc(100vw - 30px)" class="wp-post-image" alt="How can your startup hire a quality lawyer">
                                    </a>
                                    <div class="latest-news__content">
                                        <h4 class="latest-news__title"><a href="/post">Başlangıcın nitelikli bir avukat tutması nasıl mümkün olabilir?</a></h4>
                                        <div class="latest-news__excerpt">
                                            Yeni bir girişim başlatmak heyecan verici ve zorlayıcı olabilir. Bir avukatı da, boyutlarına bakılmaksızın yasal olarak temsil etmesi gereken tüm şirketler olduğu gibi tutmanız önemlidir. İşletmenizi başlattığınızda, ilk adımdan başlayarak iş hayatının her aşamasında ve farklı evrelerinde hukuki rehberliğe ihtiyacınız olduğunu göreceksiniz ... &hellip;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-grid-cell" id="pgc-5-6-1">
                            <div class="so-panel panel-first-child panel-last-child" id="panel-5-6-1-0">
                                <div class="latest-news  latest-news--block">
                                    <div class="latest-news__date">
                                        12.10.2017
                                    </div>
                                    <a href="/post" class="latest-news__image">
                                        <img src="assets/images/36-360x204.jpg" width="360" height="204" srcset="assets/images/36-360x204.jpg 360w, assets/images/36.jpg 848w" sizes="(min-width: 781px) 360px, calc(100vw - 30px)" class="wp-post-image" alt="6 tips to avoid expensive legal advice">
                                    </a>
                                    <div class="latest-news__content">
                                        <h4 class="latest-news__title"><a href="/post">Pahalı hukuksal önlemlerden kaçınmak için 6 ipucu</a></h4>
                                        <div class="latest-news__excerpt">
                                            İşiniz veya kişisel konularınız için yasal danışmanlığa ihtiyacınız varsa, nitelikli ve profesyonel avukatlar tutmak size çok fazla mal verebilir. Ancak, kaliteli hukuk servislerini seçmek her zaman tavsiye edilir. burada hukuki tavsiye yüksek maliyet kaçınmak için yardımcı olacak bazı ipuçları. Eğer düşük gelir grubuna mensupsanız, siz&hellip;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-grid-cell" id="pgc-5-6-1">
                            <div class="so-panel panel-first-child panel-last-child" id="panel-5-6-1-0">
                                <div class="latest-news  latest-news--block">
                                    <div class="latest-news__date">
                                        12.10.2017
                                    </div>
                                    <a href="/post" class="latest-news__image">
                                        <img src="assets/images/36-360x204.jpg" width="360" height="204" srcset="assets/images/36-360x204.jpg 360w, assets/images/36.jpg 848w" sizes="(min-width: 781px) 360px, calc(100vw - 30px)" class="wp-post-image" alt="6 tips to avoid expensive legal advice">
                                    </a>
                                    <div class="latest-news__content">
                                        <h4 class="latest-news__title"><a href="/post">Pahalı hukuksal önlemlerden kaçınmak için 6 ipucu</a></h4>
                                        <div class="latest-news__excerpt">
                                            İşiniz veya kişisel konularınız için yasal danışmanlığa ihtiyacınız varsa, nitelikli ve profesyonel avukatlar tutmak size çok fazla mal verebilir. Ancak, kaliteli hukuk servislerini seçmek her zaman tavsiye edilir. burada hukuki tavsiye yüksek maliyet kaçınmak için yardımcı olacak bazı ipuçları. Eğer düşük gelir grubuna mensupsanız, siz&hellip;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-grid" id="pg-5-7">
                        <div class="siteorigin-panels-stretch panel-row-style style5" data-stretch-type="full">
                            <div class="panel-grid-cell" id="pgc-5-7-0">
                                <div class="so-panel panel-first-child panel-last-child" id="panel-5-7-0-0">
                                    <div class="widget-title--big panel-widget-style">
                                        <div class="testimonial">
                                            <h3 class="widget-title"><span class="widget-title__inline">Testimonials</span></h3>
                                            <div class="testimonial__carousel">
                                                <a class="testimonial__carousel--left" href="#carousel-testimonials-widget-7-0-0" data-slide="prev"><i class="fa  fa-long-arrow-left" aria-hidden="true"></i><span class="sr-only" role="button">Next</span></a>
                                                <a class="testimonial__carousel--right" href="#carousel-testimonials-widget-7-0-0" data-slide="next"><i class="fa  fa-long-arrow-right" aria-hidden="true"></i><span class="sr-only" role="button">Previous</span></a>
                                            </div>
                                            <div id="carousel-testimonials-widget-7-0-0" class="carousel slide" data-ride="carousel" data-interval="false">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="item active">
                                                        <div class="row">
                                                            <div class="col-xs-12  col-sm-6">
                                                                <blockquote>
                                                                    <p class="testimonial__quote">
                                                                        "İnsanlar ancak adaletle doyurulur."
                                                                    </p>
                                                                    <cite class="testimonial__author">
                                                                        Ralph Waldo Emerson<span class="testimonial__author-description">Filozof</span>
                                                                    </cite>
                                                                </blockquote>
                                                            </div>
                                                            <div class="col-xs-12  col-sm-6">
                                                                <blockquote>
                                                                    <p class="testimonial__quote">
                                                                        "Adalet kutup yıldızı gibi yerinde durur ve geri kalan herşey onun etrafında döner."
                                                                    </p>
                                                                    <cite class="testimonial__author">
                                                                        Konfüçyüs (Kong Qiu)<span class="testimonial__author-description">Filozof</span>
                                                                    </cite>
                                                                </blockquote>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <div class="row">
                                                            <div class="col-xs-12  col-sm-6">
                                                                <blockquote>
                                                                    <p class="testimonial__quote">
                                                                        "Adaletin hedef ve gayesi eşitliği sağlamaktır."
                                                                    </p>
                                                                    <cite class="testimonial__author">
                                                                        Rudolf von Jhering<span class="testimonial__author-description">Hukukçu</span>
                                                                    </cite>
                                                                </blockquote>
                                                            </div>
                                                            <div class="col-xs-12  col-sm-6">
                                                                <blockquote>
                                                                    <p class="testimonial__quote">
                                                                        "Hukuk ilmi mukaddes birşeydir. Kıymetini para ile ölçmek onu çok aşağılatmak olur."
                                                                    </p>
                                                                    <cite class="testimonial__author">
                                                                        Ulpinnus<span class="testimonial__author-description">Düşünür</span>
                                                                    </cite>
                                                                </blockquote>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel-grid" id="pg-5-10">
                        <div class="siteorigin-panels-stretch panel-row-style" data-stretch-type="full-stretched">
                            <div class="panel-grid-cell" id="pgc-5-10-0">
                                <div class="so-panel panel-first-child panel-last-child" id="panel-5-10-0-0">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d765.2254186378607!2d32.8106694587089!3d39.898833658118974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f55797cb851%3A0xea67d9a7cdcc578e!2zS8SxesSxbMSxcm1hayBNYWhhbGxlc2ksIDE0MzEuIENkLiBObzozMSwgMDY1MTAgw4dhbmtheWEvQW5rYXJh!5e0!3m2!1str!2str!4v1510420222292" width="1301" height="800" frameborder="0" style="border:5" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12  col-md-4">
                            <div class="widget">
                                <div class="textwidget">
                                    <p></p>
                                    <p>Sosyal Medaya Hesaplarımız </p>
                                    <p>
                                        <a class="icon-container" href="https://www.facebook.com" target="_blank"><span class="fa fa-facebook-square"></span></a>
                                        <a class="icon-container" href="https://twitter.com/" target="_blank"><span class="fa fa-twitter-square"></span></a>
                                        <a class="icon-container" href="#" target="_blank"><span class="fa fa-linkedin-square"></span></a> <a class="icon-container" href="https://www.youtube.com/" target="_blank"><span class="fa fa-youtube-square"></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-md-2">
                            <div class="widget  widget_nav_menu">
                                <h6 class="footer-top__headings">Yararlı Linkler</h6>
                                <div class="menu-footer-menu-container">
                                    <ul class="menu">
                                        <li><a href="https://www.tbmm.gov.tr">TBMM</a></li>
                                        <li><a href="http://www.anayasa.gov.tr">ANAYASA MAHKEMESİ</a></li>
                                        <li><a href="https://www.yargitay.gov.tr">YARGITAY</a></li>
                                        <li><a href="http://www.barobirlik.org.tr">BAROLAR BİRLİĞİ</a></li>
                                        <li><a href="http://www.sgk.gov.tr">SGK</a></li>
                                        <li><a href="http://www.mevzuat.gov.tr">MEVZUAT</a></li>
                                        <li><a href="http://www.resmigazete.gov.tr/">RESMİ GAZETE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-md-2">
                            <div class="widget  widget_nav_menu">
                                <h6 class="footer-top__headings">Hızlı Dolaşım</h6>
                                <div class="menu-services-menu-container">
                                    <ul class="menu">
                                        <li><a href="/cezahukuku">Ceza Hukuku</a></li>
                                        <li><a href="/icraveiflashukuku">İcra ve İflas Hukuku</a></li>
                                        <li><a href="/ticarethukuku">Ticaret Hukuku</a></li>
                                        <li><a href="/idarehukuku">İdare Hukuku</a></li>
                                        <li><a href="/issgkhukuku">İş-SGK Hukuku</a></li>
                                        <li><a href="/bosanmahukuku">Boşanma Hukuku</a></li>
                                        <li><a href="/mirashukuku">Miras Hukuku</a></li>
                                        <li><a href="/sozlesmehukuku">Sözleşme Hukuku</a></li>
                                        <li><a href="/madenhukuku">Maden Hukuku</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-md-4">
                            <div class="widget">
                                <h6 class="footer-top__headings">Hukuksal Alanda Danışma</h6>
                                <div class="textwidget">
                                    <p>Sizin dilinizden anlıyor, problem yerine sonuç üretiyor, üstün yeterlilikte ve üretken kadromuz ile sizlere pratik ve en etkili şekilde hizmet vermek için çalışıyoruz.</p>
                                    <p><a class="btn    btn-primary" href="/iletisim">BİZİMLE İLETİŞİME GEÇİN</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="footer-bottom__left">
                                Copyright © 2017 by <a href="#">Emre CANSIZ</a>.
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="footer-bottom__center">
                                <i class="fa  fa-3x  fa-cc-visa"></i>
                                <i class="fa  fa-3x  fa-cc-mastercard"></i>
                                <i class="fa  fa-3x  fa-cc-amex"></i>
                                <i class="fa  fa-3x  fa-cc-paypal"></i>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="footer-bottom__right">
                                Tüm hakları saklıdır.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1jZgdCZblNHoGi4iEvdpqvnwluQJX_V4"></script>
    <script type='text/javascript' src='assets/js/modernizr.custom.24530.js'></script>
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type='text/javascript' src='assets/js/underscore.js'></script>
    <script type='text/javascript' src='assets/js/main.min.js'></script>
    <script type='text/javascript' src='assets/js/validator.js'></script>
    <script type='text/javascript' src='assets/js/main.js'></script>
</body>
</html>
